#nav-bar {
    padding-right: 0;
}
.portfolio-item {
    float: left;
    clear: left;
    margin-bottom: 20px;
}
.screenshot {
    width: 250px;
    float: left;
    margin-right: 15px;
}
.portfolio-description {
    float: right;
    width: 79%;
    margin: 0;
}

a.gallery > img {
    padding: 3px;
    border: 2px solid royalblue;
}

@media screen and (max-width: 1400px) {
    .portfolio-description {
        width: 76%;
    }
}

@media screen and (max-width: 1200px) {
    .screenshot {
        width: 180px;
        float: none;
    }
    .portfolio-description {
        float: none;
        width: 100%;
    }
}